<div id="pane-skills" class="pane hidden-xs">
  <div class="pane-wrapper" id="skills-wrapper" data-panel="skills">
    <div id="pane-skills-content" class="pane-content">
      <div id="pane-skills-overlay" class="pane-overlay">
        <?php get_template_part('content', 'front-skills'); ?>
        <h4 class="front-page-view"><a href="/skills">More Skills <img src="/{{ directory }}/images/portfolio-arrow-right.png" /></a></h4>
      </div>
    </div>
  </div>
</div>
