<div id="pane-portfolio" class="pane hidden-xs">
  <div class="pane-wrapper" id="portfolio-wrapper" data-panel="portfolio">
    <div id="pane-portfolio-content" class="pane-content">
      <div id="pane-portfolio-overlay" class="pane-overlay">
        <?php get_template_part('content', 'front-portfolio'); ?>
        <h4 class="front-page-view"><a href="/portfolio">More Projects <img src="/{{ directory }}/images/portfolio-arrow-right.png" /></a></h4>
      </div>
    </div>
  </div>
</div>
