<div id="pane-welcome" class="pane hidden-xs">
  <div class="pane-welcome" id="hire-wrapper" data-panel="hire">
    <div id="pane-welcome-content" class="pane-content">
      <div id="pane-welcome-overlay" class="pane-overlay">
        <h3 style="color: red;">WELCOME</h3>
      </div>
    </div>
  </div>
</div>
