<div id="icons-front">
  <div class="icon-wrapper hidden-xs" class="hidden-xs"><div class="icon icon-home" data-panel="home"></div></div>
  <div class="icon-wrapper hidden-xs" class="hidden-xs"><div class="icon icon-portfolio" data-panel="portfolio"></div></div>
  <h1 class="title"><span class="title-name">Nathan<br />Harris</span></h2>
  <div class="icon-wrapper hidden-xs" class="hidden-xs"><div class="icon icon-hire" data-panel="hire"></div></div>
  <div class="icon-wrapper hidden-xs" class="hidden-xs"><div class="icon icon-skills" data-panel="skills"></div></div>
</div>
