<div id="pane-hire" class="pane hidden-xs">
  <div class="pane-wrapper" id="hire-wrapper" data-panel="hire">
    <div id="pane-hire-content" class="pane-content">
      <div id="pane-hire-overlay" class="pane-overlay">
        <?php get_template_part('content', 'front-contact'); ?>
      </div>
    </div>
  </div>
</div>
